####
# from data
/data/2021-03-31_gnomad_scz-exome-manifest.txt
/data/access_SCZ_pdo_tally.xlsx
/data/no_access_SCZ_pdo.csv
/data/sampled100_per_pdo/

# from output 
/output/local_output 

# from notebook 
/notebook/trial_nb_for_depth_analysis.ipynb
/notebook/junk_code.Rmd

# from src 
/src/.idea
/src/hail-*
/src/.*


####
*fasta*
*.cram
settings.json
